// *Color ==================================================================

$white: #fff;
$dark-white: #9c9c9c;
$blue: #3d96f4;
$darck-blue: #0d0d11;
$darck-transition: rgb(129, 129, 139, 0.2);
// *=========================================================================
